- content_for :sidebar do
  %h3.name= t('newsletter_subscription.admin.side_bar_menu')
  %br.clear
  %ul.sidebar
    - hook :admin_configurations_sidebar_menu do
      %li{:class => controller.controller_name == 'newsletter_subscriptions' ? 'active' : ''}
        = link_to t('newsletter_subscription.admin.subscriptions'), admin_newsletter_subscriptions_path
      -#%li{:class => controller.controller_name == 'campaigns' ? 'active' : ''}
        = link_to t('newsletter_subscription.admin.campaign'), admin_campaigns_path
      %li
        = link_to t('campaign_monitor.update_everything'), :url => { :controller => 'campaign_monitors', :action => 'update_campaign_monitor', :id => CampaignMonitor.find(:first).id }

